<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/processsong}" th:object="${song}" method="post">

    <input type="hidden" th:field="*{id}"/>

    Song Title:<input type="text" th:field="*{title}"/>

    Year Song Released:<input type="text" th:field="*{yearReleased}"/>

    Lead Artist:<input type="text" th:field="*{leadArtist}"/>

    <input type="submit" value="Submit"/>



</form>
</body>
</html>